# Jupyter Notebook
.ipynb_checkpoints

# configs
config/

# PyCharm
.idea

# __pycache__
__pycache__/

# Image data (include Diagram.png as it is used in README)
*.png
!data/Diagram.png

# Macbook
.DS_Store